In [1]:
import pandas as pd
import numpy as numpy

In [1]:
# Load the data using Pandas
df = pd...('job-market.csv')
print("The Dataset consists of: ", ..., " rows and ", ..., " columns")

#TODO: Visualize the top 10 first Rows
df...

SyntaxError: invalid syntax (1804331206.py, line 2)

In [3]:
df.dtypes

Id                   float64
Title                 object
Company               object
Date                  object
Location              object
Area                  object
Classification        object
SubClassification     object
Requirement           object
FullDescription       object
LowestSalary         float64
HighestSalary        float64
JobType               object
dtype: object

In [4]:
#TODO: fix the data type of column Date
df["Date"] = df["Date"].replace(...)
df["Date"] = pd....(df["Date"])

df.dtypes

Id                          float64
Title                        object
Company                      object
Date                 datetime64[ns]
Location                     object
Area                         object
Classification               object
SubClassification            object
Requirement                  object
FullDescription              object
LowestSalary                float64
HighestSalary               float64
JobType                      object
dtype: object

In [5]:
# Calculate the average salary as a new column
df = df.assign(AverageSalary = ... )

df.head(10)